

*{
    margin:0;
    height:0;
}




header{
    background-color:#2a9d8f ; 
    height:60px;
    width:100%;
    text-align: center;
    font-style: italic;  
    color:#fff;
    font-size:24px;

}
.logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
}



span{
    color:rgba(255, 0, 0, 0.712);
    
}

.container{
    height:600px;
    width:100%;
    max-width:100%;
    display: flex;
}


.mode1{
    height:100%;
    width:300px;
    border-right:1px solid black;
    /* border-bottom:1px solid black; */
    background-color: #caf0f8;
}


.image{
    background-image: url("Daco_3987834.png");
    background-size: cover;
    background-position: center;
    height:60px;
    width:60px;
    margin-left:90px;
    margin-top:5px;
}

.mode1 h3{
    text-align: center;
    color:red;
}

.mode1  li{
    margin:30px;
    text-align: center;
    list-style: none;

}
.mode1  li a{
  text-decoration: none;
  font-weight:bold;
  color:#000;
}

.mode1 li a:hover{
    border-radius:4px;
    text-decoration: underline;
    color:rgb(16, 19, 207);
}




.mode2{
    height:100%;
    width:100%;
    max-width:100%;
    background-color: #caf0f8;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.heading{
    margin-top: 30px;
}

.para-head{
    margin:30px;
    font-size: 18px;
    font-weight: bold;
}








.box1{
    height:300px;
    width:500px;
    
}

.box2{
    height:300px;
    width:500px;
    /* background-color: rgb(186, 120, 21); */
}

.chakra{
    background-image: url("chakra.png");
    background-size:cover ;
    background-position: center;
    height:100px;
    width:60px;
    margin-left:220px;
    margin-top:50px;
    
}


video{
    height:100%;
    width:100%;
}
.box3{
    height:300px;
    width:100%;
    
    
}

.head1{
    border-top:1px solid black;
}

.one{
    margin-right: 160px;
}

.para1{
    margin:70px;
    margin-left:20px;
    font-size:18px;
    font-weight:bold;
   
}
.hyper{
    font-size:24px;
    margin-right:170px ;
  
}

.button-section{
    margin-top:100px;
    margin-right:200px;
    height:40px;
    padding:8px;
}


input{
    height:30px;
    width:300px;
    border-radius:15px; 
    border:2px solid green;

}
button{
    background-color: darkslategray;
    border-radius: 8px;
   
}

 button a{
    text-decoration: none;
    font-size: 15px;
    color:white;
    transition: .3s;
    
}

button a:hover{
    color:green;
}

button{
    height:25px;
    width: 100px;
    outline: none;
    margin:20px;
    border-radius: 6px;
    margin-right:230px;
}

.salute{
    height:90px;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.flag{
    height:90px;
    width:260px;
    background-image: url('indian.png');
    background-position: center;
    background-size: 100% 100%;
}

.flag1{
    height:20px;
    width:auto;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    padding:20px;

}

.shift{
    height:40px;
    width:auto;
    max-width: 100%;
    padding:10px;
}




.banner-section{

    height:380px;
    width:auto;
    max-width: 100%;
    display:flex;
    justify-content: space-evenly;
    margin-top:10px;
    margin-left:24px;
    
}


.section1{
    height:380px;
    width:300px;
   
    
}

.image1{
    background-image:url('maharaja.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}
.maharaja-para{
    text-align: center;
    margin-top:30px;
}

.section2{
    height:380px;
    width:300px;

    
}

.image2{
    background-image:url('taj-mahal.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}

.taj-mahal{
    text-align: center;
    margin-top:30px;
}

.section3{
    height:380px;
    width:300px;
}
.budha{
    text-align: center;
    margin-top:30px;
}

.image3{
    background-image:url('budha.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}

.poster{
    height:90px;
    width:auto;
    max-width:100%;
}


/* Styling our banner-section2 */
.banner-section2{
    height:380px;
    width:auto;
    display:flex;
    justify-content: space-evenly;
    margin-left: 25px;
}
h2{
    text-align: center;
}

.section4{
    height:380px;
    width:300px;
}
.box3-para{
    text-align: center;
    margin-top:30px;
}



.image4{
    background-image:url('kochi.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}


.section5{
    height:380px;
    width:300px;
}

.image5{
    background-image:url('bangalore.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}
.box2-para{
    text-align: center;
    margin-top:30px;
}






.section6{
    height:380px;
    width:300px;
}

.image6{
    background-image:url('jaipur.jpg');
    background-size: 100% 100%;
    height:200px;
    width: 300px;
}

.box1-para{
    text-align: center;
    margin-top:30px;
}



.section-part{
    height:300px;
    width:auto;
    max-width:100%;
    background-color:#22333b;
    display: flex;
    justify-content: space-between;
    padding:40px;

}

.anchor1{
    height:300px;
    width:330px;
    background-color:#ffffff96 ;
    backdrop-filter: blur(14px);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #fff ;
    /* border-top:2px solid rgba(255, 0, 0, 0.658);
    border-left:2px solid red; */
}

.ping1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ping1 i{
    font-size:40px;
    color:rgba(152, 13, 13, 0.861);
    margin-top:20px;
}
.fast{
    margin-top:50px;
    color:darkslategray;
}

.anchor1 p{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
   
}

.anchor2{
    height:300px;
    width:330px;
    background-color:#ffffff96 ;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    box-shadow: 2px 2px 2px 2px #fff;
   
}
.ping2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ping2 i{
    font-size:40px;
    color:rgba(152, 13, 13, 0.861);
    margin-top:20px;
}
.fast2{
    margin-top:50px;
    color:darkslategray;
}

.anchor2 p{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
   
}

.anchor3{
    height:300px;
    width:330px;
    background-color:#ffffff96 ;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    box-shadow: 2px 2px 2px 2px #fff;
    overflow:hidden;
}
.ping3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ping3 i{
    font-size:40px;
    color:rgba(152, 13, 13, 0.861);
    margin-top:20px;
}
.fast3{
    margin-top:50px;
    color:darkslategray;
}

.anchor3 p{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
}

footer {
    color: #fff;
    padding: 20px;
    height:60px;
    background-color: #034078;
}


.footer-container{
    display:flex;
    justify-content: space-between;
    align-items:center;

} 

.footer-container h2{
    cursor: pointer;
}
.footer-container h3{
    cursor: pointer;
}

.footer-container span{
    cursor: pointer;
}




.para{
    font-weight: bold;
}



.devs{
    text-align: center;
}

