*{
    margin:0;
    height:0;
}

body{
    background-image:url('black.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    height:400px;
    width:400px;
    background-color:#ffffff13;
    margin-left:460px;
    margin-top:150px;
    border-radius: 8px;
    box-shadow:1px 1px 4px 4px #fff ;
    backdrop-filter: blur(8px);
}

label{
    font-size:20px;
    font-weight:bold;
    margin-left:90px;
    color:white;
    text-align: center;
   margin-top:10px;
}

input{
    height:40px;
    width:300px;
    margin:20px;
    border-radius:8px;
    border:2px solid green;
    
}

button{
    height:30px;
    width:100px;
    border-radius:8px;
    margin-left:150px;
}

button a{
    text-decoration:none;
    font-weight: bold;
}

button:hover{
    background-color: green;
}

.back{
    text-align: center;
}

.back a{
    text-decoration: none;
    font-size: 20px;
    color:red;
}

.back a:hover{
    color:darkslategray;
}